<?xml version="1.0"?>
<config>
    <modules>
        <Gracious_Interconnect>
            <version>2.0.0</version>
        </Gracious_Interconnect>
    </modules>
    <global>
        <models>
            <interconnect>
                <class>Gracious_Interconnect_Model</class>
            </interconnect>
        </models>
        <helpers>
            <interconnect>
                <class>Gracious_Interconnect_Helper</class>
            </interconnect>
        </helpers>
        <helpers>
            <Gracious_Interconnect>
                <class>Gracious_Interconnect_Helper</class>
            </Gracious_Interconnect>
        </helpers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <controller_action_before>
                        <class>interconnect/observer</class>
                        <method>controllerActionPreDispatch</method>
                    </controller_action_before>
                </observers>
            </controller_action_predispatch>
            <controller_action_postdispatch>
                <observers>
                    <controller_action_after>
                        <class>interconnect/observer</class>
                        <method>controllerActionPostDispatch</method>
                    </controller_action_after>
                </observers>
            </controller_action_postdispatch>
            <newsletter_subscribe_after>
                <observers>
                    <newsletter_subscribe_after>
                        <class>interconnect/observer</class>
                        <method>newsletterSubscribeAfter</method>
                    </newsletter_subscribe_after>
                </observers>
            </newsletter_subscribe_after>
            <customer_register_success>
                <observers>
                    <customer_register_success_observer>
                        <class>Gracious_Interconnect_Observer_CustomerRegisterSuccessEventObserver</class>
                        <method>execute</method>
                    </customer_register_success_observer>
                </observers>
            </customer_register_success>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_onepage_controller_success_action_observer>
                        <class>Gracious_Interconnect_Observer_CheckoutOnePageControllerSuccessActionEventObserver</class>
                        <method>execute</method>
                    </checkout_onepage_controller_success_action_observer>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <interconnect translate="title" module="interconnect">
                                        <title>Configuration</title>
                                    </interconnect>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</config>