<?xml version="1.0"?>
<config>
    <modules>
        <Gracious_Interconnect>
            <version>1.0.0</version>
        </Gracious_Interconnect>
    </modules>
    <global>
        <helpers>
            <gracious_interconnect>
                <class>Gracious_Interconnect_Helper</class>
            </gracious_interconnect>
        </helpers>
        <events>
            <customer_register_success>
                <observers>
                    <customer_register_success_observer>
                        <class>Gracious_Interconnect_Observer_CustomerRegisterSuccessEventObserver</class>
                        <method>execute</method>
                    </customer_register_success_observer>
                </observers>
            </customer_register_success>
            <checkout_onepage_controller_success_action>
                <observers>
                    <checkout_onepage_controller_success_action_observer>
                        <class>Gracious_Interconnect_Observer_CheckoutOnePageControllerSuccessActionEventObserver</class>
                        <method>execute</method>
                    </checkout_onepage_controller_success_action_observer>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </global>
    <frontend>
        <routers>
            <newsletter>
                <args>
                    <modules>
                        <Gracious_Interconnect before="Mage_Newsletter">Gracious_Interconnect_Newsletter</Gracious_Interconnect>
                    </modules>
                </args>
            </newsletter>
        </routers>
    </frontend>
    <acl>
        <resources>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <gracious_interconnect translate="title" module="gracious_interconnect">
                                        <title>Configuration</title>
                                    </gracious_interconnect>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
</config>